
#header{
  width: 100%;
  height: 100px;
  background-color: powderblue;
}

/*landing-page styling*/
#landing-page{
width: auto;
height: 925px;
background-image: url("https://res.cloudinary.com/davidclelland/image/upload/v1522241421/SH_CocktailCookbook_15.png");
background-repeat: no-repeat;
background-size: auto;
}

/*game-board styling*/
#game-board{
width: auto;
height: 925px;
background-color: powderblue;
}

/*pantry-board styling*/
#pantry-board{
width: auto;
height: 925px;
background-color: #f0f8ff;
}

/*input form*/
#form{
  text-align: center;
}

 /*form text/header*/
#form h4{
  color: powderblue;
}

/*name input*/
#form input {
  outline: none;
}

/*#side {
  height: 100%;
  width: 100px;
  border: 1px solid black;
}*/


nav a {
  text-decoration: none;
  color: white;
  padding-left: 20px;
}

h2{
  font-family: quicksand;
  color: powderblue;
  text-align: center;
}

nav{
  font-family: quicksand;
  text-align: center;
  padding-top: 20px;
  color: white;
  font-weight: bolder;
}

li{
  list-style: none;
  text-align: center;
  display: inline-block;
}

/*gameBoard timer*/
#timer {
  width: 300px;
  height: 60px;
  position: relative;
  left: 640px;
  top: 20px;
  font-family: quicksand;
  text-align: center;
  /*padding-top: 50px;*/
  font-size: 50px;
  color: white;
}

/*pantryBoard timer*/
#timerTwo {
  width: 300px;
  height: 60px;
  position: relative;
  left: 650px;
  top: 20px;
  font-family: quicksand;
  text-align: center;
  /*padding-top: 50px;*/
  font-size: 50px;
  color: powderblue;
}

/*welcome message gameBoard*/
#welcome-message{
  font-family: quicksand;
  text-align: center;
  color: white;
  position: relative;
  top: 100px;
  font-size: 30px;
}


#player{
  font-family: quicksand;
  text-align: center;
  color: powderblue;
}

#submit-button{
  border-radius: 10px;
  background-color: powderblue;
  color: white;
  font-family: quicksand;
  outline: none;
  border:none ;
  padding: 8px;
  font-size: 15px;
}

#name-input{
  border-radius: 10px;
  outline: none;
  border:1px solid powderblue;
  font-size: 15px;
  padding: 5px;
}

#card{
position: relative;
top: 150px;

}

.front{
  padding: 10px;
  height: 600px;
  width: 400px;
  position: relative;
  top: -50px;
  left: 650px;
  background-image: url('../images/cocktail.png');
  /*background-size: 420px 320px;*/
  background-repeat: no-repeat;
}

.back{
  padding: 10px;
  position: relative;
  top: -50px;
  left: 400px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr ;
  height: 400px;
  width: 800px;

}

#pantry  {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr ;
  height: 800px;
  width: 1000px;
  position: relative;
  left: 300px;
  top: 50px;
  /*border: 1px dotted black;*/

 }

#try-again{
  background-color: pink;
  border-radius: 20px;
  padding: 20px;
  position: relative;
  left: 750px;
  outline: none;
  font-family: quicksand;
  color: white;
  font-size: 15px;
}

 #pantry-box-one{
  background-image: url('../images/vodka.png');
  background-size: 200px 180px;
  background-repeat: no-repeat;

 }

 #pantry-box-two{
  background: url('../images/sugar.png');
  background-size: 200px 180px;
  background-repeat: no-repeat;
 }

 #pantry-box-three{
  background: url('../images/ice.png');
  background-size: 200px 180px;
  background-repeat: no-repeat;
 }

 #pantry-box-four{
  background: url('../images/gin.png');
  background-size: 200px 180px;
  background-repeat: no-repeat;
 }

#pantry-box-five{
  background: url('../images/lemon.png');
  background-size: 200px 180px;
  background-repeat: no-repeat;
 }

 #pantry-box-six{
  background: url('../images/lime.png');
  background-size: 200px 180px;
  background-repeat: no-repeat;
 }

 #pantry-box-seven{
  background: url('../images/mango.png');
  background-size: 200px 180px;
  background-repeat: no-repeat;
 }

#pantry-box-eight{
  background: url('../images/mint.png');
  background-size: 200px 180px;
  background-repeat: no-repeat;
 }

 #pantry-box-nine{
  background: url('../images/orange.png');
  background-size: 200px 180px;
  background-repeat: no-repeat;
 }

 #pantry-box-ten{
  background: url('../images/cointreau.png');
  background-size: 200px 180px;
  background-repeat: no-repeat;
 }

 #pantry-box-eleven{
  background: url('../images/rosemary.png');
  background-size: 200px 180px;
  background-repeat: no-repeat;
 }

 #pantry-box-twelve{
  background: url('../images/tequila.png');
  background-size: 200px 180px;
  background-repeat: no-repeat;
 }

 #pantry-box-thirteen{
  background: url('../images/strawberry.png');
  background-size: 200px 180px;
  background-repeat: no-repeat;
 }

 #pantry-box-fourteen{
  background: url('../images/basil.png');
  background-size: 200px 180px;
  background-repeat: no-repeat;
 }

 #pantry-box-fifteen{
  background: url('../images/chilli.png');
  background-size: 200px 180px;
  background-repeat: no-repeat;
 }

 #correct{
  font-family: quicksand;
  font-size: 100px;
  font-weight: bold;
  color: green;
  position: relative;
  left: 562px;
  bottom: 720px;
 }

 #wrong{
  font-family: quicksand;
  font-size: 100px;
  font-weight: bold;
  color: red;
  position: relative;
  left: 548px;
  bottom: 716px;
 }
